page-view-notification {
    .poster{
        // color:  rgba(245, 241, 241, 0.253);
         height: 20px;         
     }
     .titre {
        font-size: 1.2em;
        font-weight:bold;
     }
     .contenu{
        font-size: 1.0em;
        
     }
     .date{
        font-size: 0.7em;
        color:  rgba(17, 16, 16, 0.753);
     }
}
