<ion-header>
  <ion-navbar color="otr">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ global.accessLevel }} </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="alert alert-infos" *ngIf="global.eleve!==null" padding>
    {{ global.eleve?.nom }} {{ global.eleve?.prenoms }}
  </div>
  <ion-row>
    <ion-col col-12>
      <ion-card (tap)="openPage(0)">
        <ion-card-content>
          Abscences
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col col-12>
      <ion-card (tap)="openPage(1)">
        <ion-card-content>
          Retards
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col col-12>
      <ion-card (tap)="openPage(2)">
        <ion-card-content>
          Notes
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col col-12 *ngIf="global.accessLevel=='Administrateur' || global.accessLevel=='Parent'">
      <ion-card (tap)="openPage(3)">
        <ion-card-content>
          Notifications
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="global.accessLevel=='Administrateur'">
    <ion-col col-12>
      <ion-card (tap)="openPage(4)">
        <ion-card-content>
          Emploi du temps
        </ion-card-content>
      </ion-card>
    </ion-col>

  </ion-row>

</ion-content>