<ion-header>
  <ion-navbar no-border-bottom color="otr">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Emploi du temps
    </ion-title>
  </ion-navbar>
  <!-- <ion-searchbar (ionInput)="getItems($event)" placeholder="Recherche par heure"></ion-searchbar> -->
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let obj of classes" (click)="gotoview(obj)">
      <ion-avatar item-start>
        <ion-icon name="albums"  slot="start"></ion-icon>
      </ion-avatar>
      <h2>{{obj.LIBELLECLASSE}} </h2>
      <p></p>
    </ion-item>

  </ion-list>

  <div *ngIf="classes.length ==0" class="notrouve">
    aucune classe retrouvé !
  </div>

  <!-- <ion-fab *ngIf="global.accessLevel=='Administrateur'" right bottom (tap)="ajouter()">
    <button ion-fab color="otr">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab> -->
</ion-content>